.h1 {
    
    margin-top: 3.5vw;
    
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: rgb(255, 255, 255,0.4);


}
.container {
    z-index: 1;
}
img {
    z-index: 2;
}
.artist-illustrator-youtuber {
    font-size: 2vw;
    text-align: center;
    font-family: 'Allura', cursive;
}
.artist {
    padding-top: 3vw;
}
.illustrator {
    padding-top: 6vw;
}
.youtuber {
    padding-top: 10vw;
}
h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-left:
    
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}
.icons {
    text-align: center;
    
}
.submit-form {
    width: 15%;
}

button {
    display: inline;
}

.header-box {
    
    max-width: 100%;
   
    
}

.container {
    max-width: 100%;
    background-size: cover;
}
.artwork {
    margin: none;
    width: 15vw;
    padding-top: 3.5vw;
}