.h1 {
    
    margin-top: 3.5vw;
    max-width: 80%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    


}
.container {
    z-index: 1;
}
img {
    z-index: 2;
}
.artist-illustrator-youtuber {
    font-size: 3vw;
    text-align: center;
    opacity: 0.8;
}
.artist {
    padding-top: 2vw;
    padding-left: 2vw;
}
.illustrator {
    padding-top: 1.5vw;
    padding-left: 4.4vw;
}
.youtuber {
    padding-top: 2vw;
padding-left: 3.5vw;
padding-bottom: 0.7vw;
}
.enquiries {
    align: right;
}
h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-left:
    
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}
.icons {
    text-align: center;
    font-size: 3vw;
    
}
.submit-form {
    width: 90%;
}

button {
    display: inline;
}

.header-box {
    
    max-width: 100%;
   
    
}

form {
    
    opacity: 0.9;
}

.container {
    max-width: 100%;
    background-size: cover;
}
.artwork {
    margin: none;
    width: 15vw;
    margin-top: 8vw;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}