.h1 {
    margin: 0 auto;
    margin-top: 3.5vw;
    margin-left: 2vw;
    margin-right: 1vw;;
    width: 30%;
    display: block;
    object-fit:fill;


}
.container {
    z-index: 1;
}
img {
    z-index: 2;
}
.artist-illustrator-youtuber {
    font-size: 3vw;
    text-align: center;
    opacity: 0.8;
}
.artist {
    padding-top: 0.2vw;
    
}
.illustrator {
    padding-top: 0.6vw;
    margin-left: 0.6vw;
   
}
.youtuber {
    padding-top: 0.9vw;

padding-bottom: 0.7vw;
}
.enquiries {
    align: right;
}
h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-left:
    
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}
.icons {
    text-align: center;
    font-size: 3vw;
    
}
.submit-form {
    width: 90%;
}

button {
    display: inline;
}

.header-box {
    
    max-width: 100%;
   
    
}

form {
    
    opacity: 0.9;
   
}

.container {
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.artwork {
    display: block;
    margin: 0 auto;
    width: 13vw;
    margin-top: 8vw;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video {
    display: block;
    margin: 0 auto;
    margin-left: 4.5vw;
}